Frontend/.next
Frontend/build
Backend/typechain-types
Backend/deployed-contract-addresses.json
.vscode
node_modules
lerna-debug.log
yarn-error.log
cache/
build/
artifacts/
coverage*
deployments/
.env
.npmrc